@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

/* Font to all elements */
* {
    box-sizing: border-box;
    font-family: REM, sans-serif;
}

/* Some base properties to center all content and remove default paddings, margins and borders */
body {
    background-color: #94ADD7;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* Header and heading */
#header {
    height: 75px;
    width: 100vw;
    clear: both;
}

#heading {
    font-size: 4rem;
    margin: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Main box with most content */
.container {
    width: 80vw;
    height: 70vh;
    min-height: 400px;
    max-width: 800px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 24px 0 rgba(0, 0, 0, 0.35);
}

/* Flag container and flag*/
#flag-container {
    height: 25vh;
    width: 60vw;
    max-width: 400px;
    min-height: 200px;
    border-radius: 25px;
    margin: 30px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

#flag {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Text */
.text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 30px;
}

/* Question qounter*/
#question-counter {
    margin: 10 0;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

/* Buttons */
.btn {
    padding: 20px;
    background-color: #78C1F3;
    font-size: 1.5rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    margin: 10px;
    border: 0;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(43, 44, 170, 0.4), 0 6px 20px 0 rgba(43, 44, 170, 0.35)
}

/* Answer buttons layout*/
.btn-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 60vw;
    max-width: 600px;
    margin: 0 auto;
}

/* Next button */
#next-btn-container {
    text-align: center;
}

#next-btn {
    font-size: 4rem;
    background-color: #78C1F3;
    height: 25vh;
    width: 60vw;
    max-width: 400px;
    min-height: 200px;
    margin: 30px auto;
}

/* Score button */
#score-btn {
    font-size: 4rem;
    background-color: #78C1F3;
    height: 25vh;
    width: 60vw;
    max-width: 400px;
    min-height: 200px;
    margin: 30px auto;
}

/* Start button */
#start-btn {
    font-size: 4rem;
    background-color: #78C1F3;
    margin: 0 0 50px 0;
}

/* Button colors when answering right or wrong */
.btn.correct {
    background-color: #CBFFA9;
}

.btn.wrong {
    background-color: #FF8989;
}

/* body color when answering right or wrong */
body.correct {
    background-color: #7EAA92;
}

body.wrong {
    background-color: #900C3F;
}

.selected {
    border: 1px solid black;
}

/* Class to hide elements */
.hide {
    display: none;
}