@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

/*Font to all elements*/
* {
    box-sizing: border-box;
    font-family: REM, sans-serif;
    font-weight: 400;
}

/*Some base properties to center all content and remove default paddings, margins and borders*/
body {
    background-color: #1D5D9B;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}



/* Header and heading */
#header {
    height: 75px;
    width: 100vw;
    background-color: #A1C2F1;
    clear: both;
}

#heading {
    font-size: 4em;
    margin: 10px;
}

/* Main box with most content */
.container {
    width: 800px;
    height: 80vh;
    max-width: 80%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

/*Flag*/
#flag-container {
    height: 25vh;
    width: 60vw;
    max-width: 400px;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px 0;
    overflow: hidden;
}

#flag {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.btn-layout {
    display: grid;
    grid-template-columns: repeat(2, auto)
}

/*Buttons*/
.btn {
    padding: 20px;
    background-color: #068FFF;
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid black;
    margin: 5px;
}

/*Rules text*/
#rules {
    font-size: 2rem;
    text-align: center;
    margin: 15px;
}

/*Start and restart buttons*/
.controls {
    
}

#start-btn, #next-btn {
    font-size: 4rem;
    background-color: #068FFF;
}

#start-btn:hover,
#next-btn:hover,
.btn:hover {
    border: 2px solid #4477CE;
}

.btn.correct {
    background-color: lightgreen;
}

.btn.wrong {
    background-color: red;
}

body.correct {
    background-color: #1A5D1A;
}

body.wrong {
    background-color: #C70039;
}

/*Class to hide elements*/
.hide {
    display: none;
}